.s-sales
  padding-bottom: 110px
  padding-top: 70px

.sale-item
  background-color: $accent-grey
  box-shadow: 0 0 15px 4px rgba(#000, .15)
  padding: 25px 15px
  text-align: center
  margin-bottom: 30px
  margin-top: 30px
  &-sale
    color: $accent
    font-weight: 800
    line-height: 1
    font-size: 35px
    margin-bottom: 5px
  &-title
    font-weight: 800
    font-size: 24px
    span
      margin-top: 15px
      margin-bottom: 40px
      display: block
      font-size: 9px
      font-weight: 600

.sales-notice
  font-size: 24px
  font-weight: 600
  text-align: center
  padding: 8px
  background-image: linear-gradient(to bottom, #fee482 0, #fccb7f 100%)
  span
    color: $accent


.sales-slider
  .owl-stage-outer
    padding: 0 10px
    width: calc(100% + 20px)
    left: -10px
  .owl-nav
    position: absolute
    top: auto
    bottom: 11px
    width: 100%
    button.owl-prev, button.owl-next
      height: 68px
      width: 68px
      background-color: #fff
      border-radius: 50%
      background-image: url('../img/icons/slider-arrow.png')
      background-repeat: no-repeat
      background-position: center center
      background-size: 41px 41px
      +mt(.3s)
      opacity: .3
      cursor: pointer
      position: absolute
      box-shadow: 0 0 10px 4px rgba(#000, .15)
      &:hover
        opacity: .8
    button.owl-prev
      transform: rotate(180deg)
      left: 0
    button.owl-next
      right: 0
