.s-solutions
  .container
    position: relative

.sol-wrap
  margin-top: 75px
  display: flex
  justify-content: space-between
  text-align: center

.sol-item
  line-height: 1
  &-icon
    fill: $accent
    height: 50px
    width: auto
    margin-bottom: 30px
    margin-left: auto
    margin-right: auto
    display: block



.sol-slider
  width: 100%
  height: 330px
  position: relative
  margin-top: 70px
  img
    width: 330px
    cursor: pointer

.sol-slider-nav
  position: absolute
  bottom: 200px
  width: 100%
  z-index: 100
  left: 0
  .sol-prev, .sol-next
    height: 68px
    width: 68px
    background-color: #fff
    border-radius: 50%
    background-image: url('../img/icons/slider-arrow.png')
    background-repeat: no-repeat
    background-position: center center
    background-size: 41px 41px
    +mt(.3s)
    opacity: .6
    cursor: pointer
    position: absolute
    box-shadow: 0 0 10px 4px rgba(#000, .15)
    &:hover
      opacity: .8
  .sol-prev
    transform: rotate(180deg)
    left: 17px
  .sol-next
    right: 17px
