@import vars


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)

  .roof-item-prices
    font-size: 13px

  .roof-item-bottom
    flex-direction: column
    .total
      margin-right: 0
      margin-bottom: 10px
      text-align: center

  .stage-item
    height: 290px
    font-size: 16px
    &:after
      transform: scale(.7)
      top: 16px

  .parallax
    display: none

  .chars-wrap
    flex-wrap: wrap
  .char-item
    width: calc(33% - 8px)
    margin-bottom: 30px

  .header-top
    &-text
      h1
        display: block

  .main-mnu
    display: none
  .hamburger
    display: inline-block
  .socials
    position: relative
    top: 3px

// ≥992px
+media-breakpoint-down(md)

  .roof-item
    margin-bottom: 30px
    &-img
      height: 400px
    &-bottom
      flex-direction: row
      .total
        margin-bottom: 0
        flex-grow: unset
        width: 160px

.btn-roof
  .choose-img
    margin-bottom: 30px

  .choose-tabs
    ul
      flex-wrap: wrap
    li
      width: 25%

  .stage-item-container
    &:nth-child(3n)
      .stage-item:after
        display: block
    &:nth-child(2n)
      .stage-item:after
        display: none



  .stage-item
    height: 330px
    &:after
      transform: scale(.8)

  .char-item
    width: calc(50% - 8px)
    margin-right: 0

  .header-middle
    text-align: center
  .timer
    margin-left: auto
    margin-right: auto
    margin-bottom: 45px
  .timer-label
    margin-top: 25px

  .header-top
    &-text
      font-size: 16px

  .header-recall .phone
    font-size: 25px
    margin-bottom: 10px

  .header-recall
    margin-left: 10px

// ≥768px
+media-breakpoint-down(sm)

  .roof-item
    &-img
      height: 300px

  .section-title
    font-size: 26px

  section
    padding-top: 50px

  .s-bg:before
    top: 65px

  .stage-item
    height: 240px
    font-size: 14px
    .svg
      margin-bottom: 15px
    &:after
      top: -13px

  .header-top
    .container
      flex-wrap: wrap
      justify-content: space-between

  .header-recall
    width: 100%
    text-align: center
    margin-top: 40px

// ≥480px
+media-breakpoint-down(xs)

  .roof-item
    &-img
      height: 200px
    &-bottom
      flex-direction: column
      .total
        width: 100%
        margin-bottom: 10px

  .section-title
    font-size: 22px

  .choose-item
    .btn
      font-size: 16px
    .btn-wrap
      text-align: center

  .choose-tabs
    ul
      justify-content: flex-start
    li
      width: 33%
      flex-grow: unset

  .section-text
    font-size: 16px

  .stages-wrap
    margin-top: 40px

  .stage-item
    width: 290px
    height: 290px
    margin-left: auto
    margin-right: auto
    border-width: 5px
    &:after
      display: none

  .stage-item-container:nth-child(3n) .stage-item:after
    display: none


  .char-item
    width: 100%
    margin-right: 0
    text-align: center
    flex-direction: column
    .svg
      margin-bottom: 8px

  .timer
    padding-left: 3px
    padding-right: 3px
    width: 296px
    position: relative
    left: -3px


  .quest
    font-size: 12px
    .btn
      font-size: 10px
      width: auto
    h3
      font-size: 16px

  .header-middle
    padding-top: 30px
    h2
      font-size: 22px
      font-weight: 600
    h1
      font-size: 26px

  .header-top
    .container
      flex-direction: column
      text-align: center
    .logo
      margin-right: 0
      margin-bottom: 20px

  .header-recall
    .btn
      margin-top: 10px


/*==========  Mobile First  ==========*/

// ≤480px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
